{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="mt-4">
        <h4 class="text-lg font-semibold">Available Money:</h4>
        <p class="text-gray-700">{{ app.user.money }}</p>
    </div>

    <a href="{{ path('app_add_money') }}">Add funds</a>

    {{ dump(aggregatedData) }}
{% endblock %}
