<!-- base.html.twig -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'><text y='1.2em' font-size='96'>⚫️</text></svg>">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css" rel="stylesheet"/>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body class="flex">

{% if noSideBar is not defined %}
    <div class="h-screen w-1/8 bg-gray-800 text-white">
        {{ include('sidebar.html.twig') }}
    </div>
{% endif %}

<div class="flex-grow ml-64 p-4"> <!-- Adjust ml-64 based on your sidebar width -->
    {% block body %}{% endblock %}
</div>

</body>
</html>
